<style type="text/css">

  body{
      width:100%;
      text-align:center;
  }
  img{
      border:0;
  }
  #scan_by_file{
      text-align:left;
      margin: 15px auto;
      width:400px;
      height:300px;
      border: solid;
      border-width: 3px 3px 3px 3px;
  }

  /* ----------------------------------------------- */
  /* FOOTER */
  /* ----------------------------------------------- */

  footer{
    background: none repeat scroll 0 0 transparent;
    background-color: #322f2f;
    color: white;
    bottom: 0;
    left : 0;
    width: auto;
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
  }

  footer li{
      display:inline;
      text-align: center;
      padding-right: 0.5em;
      padding-left: 0.5em;
      font:18px arial,sans-serif;
      font-weight: bold;
      border-right: 1px solid #333333;
  }
  footer li a{
      text-decoration: none;
      color: white;
  }

</style>
