<style type="text/css">
body{
    width:100%;
    text-align:center;
}
img{
    border:0;
}
#result_by_server{
    width:400px;
    height:auto;
    border: solid;
    border-width: 1px 1px 1px 1px;
    padding:20px;
    font:16px arial,sans-serif;
}

#refresh_cam{
    text-align:center;
    margin: 15px;
    width:200px;
    height:40px;
    border: solid;
    border-width: 3px 3px 3px 3px;
    background-color:#4CAF50;
    color: white;
    padding : 15px 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#refresh_cam:hover{
    background-color:white;
    color: #4CAF50;
}

#main{
    margin: 15px auto;
    background:white;
    overflow: auto;
  width: 100%;
}
#header{
    background:white;
    margin-bottom:15px;
}
#mainbody{
    background: white;
    width:100%;
  display:none;
}

#v{
    width:400px;
    height:300px;
}
#qr-canvas{
    display:none;
}
#qrfile{
    width:400px;
    height:300px;
}
#mp1{
    text-align:center;
    font-size:35px;
}
#imghelp{
    position:relative;
    left:0px;
    top:-160px;
    z-index:100;
    font:18px arial,sans-serif;
    background:#f0f0f0;
    margin-left:35px;
    margin-right:35px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:20px;
}
.selector{
    margin:0;
    padding:0;
    cursor:pointer;
    margin-bottom:-5px;
}
#outdiv
{
    width:400px;
    height:300px;
    border: solid;
    border-width: 3px 3px 3px 3px;
}
#result{
    width:400px;
    height:30;
    border: solid;
    border-width: 1px 1px 1px 1px;
    padding:20px;
    font:18px arial,sans-serif;
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer{
  background: none repeat scroll 0 0 transparent;
  background-color: #322f2f;
  color: white;
  bottom: 0;
  width: auto;
  position: fixed;
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
}

footer li{
    display:inline;
    text-align: center;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font:18px arial,sans-serif;
    font-weight: bold;
    border-right: 1px solid #333333;
}
footer li a{
    text-decoration: none;
    color: white;
}



</style>
